{% macro get_logo(creator) %}
    {% if creator == "Error Code 451 Plugin" %}
        <i class="fa fa-wordpress"></i>
    {% elif creator == "451reporter" %}
        <i class="fa fa-browser"></i>
    {% elif creator == "block-crawler" %}
        <i class="fa fa-cog"></i>
    {% elif creator == "LegalCrawler" %}
        <i class="fa fa-cog"></i>
    {% endif %}
{% endmacro %}

{% macro stripscheme(s) %}
{% if s is string %}
{{ s.replace('http://','').replace('https://','') }}
{% endif %}
{% endmacro %}


<html>
<head>
    <title>graph</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <script src="/static/chartjs/Chart.bundle.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h1>451 Reports</h1>
            </div>
            <div class="col-md-2" style="padding-top: 2em; text-align: right;">
                {% if page > 1 %}
                <a class="btn btn-primary" href="{{ url_for('.index', page=1) }}"><span class="glyphicon glyphicon-fast-backward"></span></a>
                <a id="prevbtn" class="btn btn-primary" href="{{ url_for('.index', page=page-1) }}"><span class="glyphicon glyphicon-backward"></span></a>
                {% endif %}
                Page {{ page }}
                {% if page < pagecount %}
                <a id="nextbtn" class="btn btn-primary" href="{{ url_for('.index', page=page+1) }}"><span class="glyphicon glyphicon-forward"></span></a>
                {% endif %}
                <a  class="btn btn-primary" href="{{ url_for('.index', page=pagecount) }}"><span class="glyphicon glyphicon-fast-forward"></span></a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped" id="results">
                    <tr>
                        <th>Date</th>
                        <th>URL</th>
                        <th>Blocked by</th>
                        <th>Report ID</th>
                    </tr>
                    {% for obj in reports %}
                    <tr class="result">
                        <td><span class="glyphicon glyphicon-calendar"></span> {{ obj.date.strftime('%Y-%m-%d %H:%M') }} </td>
                        <td><span class="glyphicon glyphicon-globe"></span> {{ obj.url  }} </td>
                        <td>{{ get_logo(obj.creator) }} {{ stripscheme(obj.blockedBy) }}</td>
                        <td><a href="{{url_for('.load_report', id=obj.id) }}">{{obj.id}}</a> <span class="glyphicon glyphicon-share"></span> </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
<canvas id="myChart" width="100%" height="20"></canvas>

            </div>
        </div>
    </div>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">



function draw_graph(data) {
    
    keys = [];
    values = [];
    $.each(data, function(idx, obj) {
        keys.push(obj['date']);
        values.push(obj['count']);
    });

    var ctx = document.getElementById("myChart").getContext('2d');
    console.log(Object.keys(data));
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: keys,
            datasets: [{
                label: "Requests",
                data: values,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}


$(document).ready(function(){
    
    data = {{ counts | list | tojson }};
    draw_graph(data);

})
    </script>
</body>
</html>



